body{
  background-color: rgb(175, 164, 255);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
}
.nav-link{
  transition: 0.30s all;
}
.nav-link:hover{
  transform: scale(1.15);
}
main {
  display: flexbox;
  padding: 2% 6%;
  margin-top: 8%;
  margin-left: 12%;
  width: 76%;
  background-color: white;
  border: solid 3px rgba(21, 30, 70, 0.981);
}
h1{
  text-align: center;
}
p, li{
  font-size: 19px;
}

.cards{
  display: flex;
  justify-content: space-around;
}
.card{
  transition: 0.29s all;
}
.card:hover{
  transform: scale(0.99);
  background-color: rgb(234, 232, 255);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.349);
}